.projectContainer {
    min-height: auto;
    /* background: linear-gradient(to top,
            #E8E3DE 0%,
            #E8E3DE 55%,
            #FAF9F8 55%,
            #FAF9F8 100%); */
    background: #E8E3DE;
    padding: 90px 300px 90px 300px;
    min-height: 100vh;
}

.projectWrapper {
    padding: 80px;
    min-height: 100vh;
}

.pageTitle {
    font-weight: 300;
    font-size: 56px;
}

.projectTitle {
    text-align: center;
    font-size: 28px;
    /* margin: 10px; */
}

.projectDetailContainer {
    padding: 90px 90px;
}

.projectDetailWrapper {
    /* padding: 100px 100px; */
    display: flex;
    /* gap: 24px; */
    justify-content: center;
}

.projects {
    max-width: 250px;
    text-align: center;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.projectDesc {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column
}

.thumbnail {
    height: 250px;
    width: 250px;
}

.projectBtnWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
    /* gap: 16px; */
    width: 100%;
}

.description {
    font-size: 18px;
    font-weight: 200;
    min-height: 150px;
}

.projectBtn {
    background-color: black !important;
    text-transform: 'none';
    border-radius: 12px !important;
}


@media (max-width: 960px) {
    .projectContainer {
        padding: 0;
    }

    .pageTitle {
        font-weight: 300;
        font-size: 32px !important;
        padding: 20px;
    }

    .projectDetailContainer {
        padding: 0;
    }

    .projectWrapper {
        padding: 0;
        /* display: flex; */
        padding-top: 50%;
    }

    .projects {
        margin: auto;
    }

    .thumbnail {
        height: 150px;
        width: 150px;
    }

    .description {
        font-size: 12px;
        font-weight: 200;
    }

    .projectBtnWrap button {
        font-size: 12px;
        height: auto;
        margin-bottom: 10px;
    }

    .projectDesc {
        align-items: center;
    }
}