.projectContainer {
    min-height: auto;
    /* background: linear-gradient(to top,
            #E8E3DE 0%,
            #E8E3DE 55%,
            #FAF9F8 55%,
            #FAF9F8 100%); */
    background: #E8E3DE;
    padding: 90px 300px 90px 300px;
    min-height: 100vh;
}

.projectWrapper{
    padding: 80px;
    min-height: 100vh;
}

.pageTitle {
    font-weight: 300;
    font-size: 56px;
}

.projectTitle {
    text-align: center;
    font-size: 28px;
    margin: 10px;
}

.projectDetailContainer {
    padding: 90px 90px;
}

.projectDetailWrapper {
    /* padding: 100px 100px; */
    display: flex;
    /* gap: 24px; */
    justify-content: center;
}

.projects {
    padding: 50px;
    max-width: 250px;
    text-align: center;
}

.projectDesc {
    width: 100%;
    text-align: center;
}

.thumbnail {
    height: 250px;
    width: 250px;
}

.projectBtnWrap {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: 18px;
    font-weight: 200;
}


@media (max-width: 960px) {
    .projectContainer{
        padding: 0;
    }
    .pageTitle {
        font-weight: 300;
        font-size: 32px !important;
        padding: 20px;
    }
    .projectDetailContainer{
        padding: 0;
    }

    .projectWrapper{
        padding: 0;
    }
    .projects{
        margin:auto;
    }

    .thumbnail {
        height: 150px;
        width: 150px;
    }
    .description {
        font-size: 12px;
        font-weight: 200;
    }
    .projectBtnWrap button{
        font-size: 12px;
    }
}