@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body, body * {
    font-family: 'Inter', sans-serif !important;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}