@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 font-inter;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 9999px;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60%,
  100% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2.5s infinite;
}
