.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #e8e3de;
    margin: 68px 0 0;
}

.containerWrapper {
    display: flex;
    flex-direction: row;
    /* min-height: 100vh; */
    /* width: 100vw;
    background-color: #e8e3de; */
}

.leftSection,
.rightSection {
    font-family: 'Inter', sans-serif !important;
    flex: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;

}

/* Left Section */
.leftSection {
    /* background-color: #ffffff; */
    color: #000000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.profileImage {
    width: 250px;
    height: 250px;
    border-radius: 0;
    margin-bottom: 16px;
    object-fit: cover;
    border: 2px none #000000;
}

.emailBtn {
    margin: 16px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%
}

.button:hover {
    background-color: #444444;
}

/* Social Icons */
.socialIcons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.icon {
    font-size: 24px;
    color: #000000;
    cursor: pointer;
}

.icon:hover {
    color: #555555;
}

/* Right Section */
.rightSection {
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    text-align: left;
    background-color: #e8e3de;
    color: #000000;
    padding: 0px 97px;
}

.rightSection .aboutMe {
    font-weight: 300;
    margin-left: 0px;
    font-size: 56px;
}

.rightSection .aboutMeText {
    font-weight: 200;
    font-size: 18px;
}

.rightSection .btnResume {
    width: 300px;
    border-radius: 0 !important;
}

.rightSection h2 {
    margin-bottom: 16px;
}

.rightSection p {
    line-height: 1.6;
    margin-bottom: 16px;
}

/* Responsive Layout */
@media (max-width: 960px) {
    .containerWrapper {
        flex-direction: column;
        /* width: 100%; */
        overflow-x: hidden;
    }

    .leftSection {
        height: auto;
        padding: 186px 85px 186px;
    }

    .rightSection {
        padding: 186px 22px 186px;
    }

    .leftSection img {
        height: 150px;
        width: 150px;
    }

    .infoSection {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    .rightSection .aboutMeText h2 {
        font-size: 32px;
    }

    .rightSection .aboutMeText p {
        font-size: 16px;
    }

    .btnResumeContainer .btnResume {
        margin-top: 82px;
        width: 150px;
    }

    .infoSection h4 {
        font-size: 20px;
        font-weight: 400;
    }

    .infoSection h6 {
        font-size: 18px;
        font-weight: 400;
    }
}